.header .inner-title{
  color: white;
  font-size: 15px;
  font-weight: 500;
  background: var(--color-primary);
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.header .inner-wrap{
  display: flex;
  align-items: center;
  font-family: var(--font);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.header .inner-logo{
  display: flex;
  font-family: var(--font);
  align-items: center;
  font-size: 20px;
}

.header .inner-icon{
  color: var(--color-primary);
  font-size: 30px;
  margin-right: 10px;
}

.header .inner-wrap .inner-name{
  font-weight: 600;
}

.header .inner-team img{
  width: 30px;
  height: 30px;
}

.header .inner-team{
  padding-left: 100px;
}

.header .inner-team .inner-name{
  font-weight: 600;
  font-size: 20px;
}

.header .inner-box-login{
  text-align: end;
}

.header .inner-box-login .inner-temp{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header .modal-header{
  position: relative;
  justify-content: space-evenly;
}

.header .close{
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.header .inner-form{
  text-align: start;
}

.header .forget-pass{
  margin-bottom: 20px;
  
}

button.btn.btn-primary.button-second {
  width: 100%;
}

button.btn.btn-primary.button-second:hover {
  border: solid 2px var(--color-primary);
}

.header .forget-pass:hover{
  text-decoration:underline;
}

.button{
  padding: 10px 20px;
  background-color: var(--color-primary);
  font-size: 15px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  border: solid 2px var(--color-primary);
}

.button:hover{
  background-color: white;
  color: var(--color-primary);
  border: solid 2px var(--color-primary);
}

.button-second{
  padding: 10px 20px;
  background-color: white;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-primary);
  border: solid 2px var(--color-primary);
  border-radius: 5px;
}

.button-second:hover{
  background: var(--color-primary);
  color: white;
}



.section-one{
  font-family: var(--font-primary);
  padding: 40px;
  width: 100%;
}

.section-one .inner-main{
  padding: 50px;
}

.section-one .inner-title{
  font-size: 56px;
}

.section-one .inner-desc{
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.section-one img{
  width: 85%;
  height: 85%;
  color: var(--color-primary);
}

.section-one .filter-green{
  filter: invert(43%) sepia(32%) saturate(5083%) hue-rotate(226deg) brightness(96%) contrast(90%);
}

.section-one .inner-social{
  display: flex;
  justify-content: center;
}

.section-one .inner-social a{
  display: flex;
  flex-direction: column;
  color: black;
  width: 50px;
  height: 50px;
  background: white;
  margin-right: 25px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 10px;
  color: var(--color-primary);
} 

.section-one .inner-social a:hover{
  background: var(--color-primary);
  color: white;
}

@media (max-width: 576px){
  .header .inner-team {
    padding-left: 15px;
  } 

  .header .inner-title{
    font-size: 13px;
    padding: 0 28px;
  }

  .header .inner-box-login {
    margin-bottom: 0px;
    margin-top: 20px;
  }

  .header .inner-wrap{
    margin-bottom: 0px;
  }

  .header .inner-about{
    display: none;
  }

  .section-one .inner-main{
    padding: 0px;
  }

  .section-one .inner-title{
    font-size: 30px;
    text-align: center;
  }

  .section-one .inner-desc {
    font-size: 13px;
    text-align: center;
  }

  .section-one .inner-social a{
    width: 40px;
    height: 40px;
    font-size: 15px;
  }

  .section-one img{
    margin-top: 65px;
  }

  .modal-content{
    margin-right: 25px;
    margin-left: 10px;
  }
/* 
  .button-second{
    padding: 5px 10px;
  } */

}
