.header .inner-box {
  width: 20%;
  height: 1000px;
  ;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


body {
  font-family: var(--font-primary);
  background-color: #fff;
  font-weight: 300;
}

.header .inner-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header .inner-logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  object-fit: cover;
  position: top center;
}

.header .inner-logo .inner-name {
  color: #1B267D;
  font-weight: bold;
}

.header .inner-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.header .inner-menu i {
  margin-right: 20px;
  font-size: 20px;
  color: var(--color-primary);
  padding: 10px;
  background: #EFEEFD;
  border-radius: 5px;
}

/* .header .inner-menu i:hover{
  color: white;
  background: var(--color-primary);
} */

.header .inner-menu .dashboard {
  font-weight: bold;
  color: var(--color-primary);
}

.header .inner-menu:hover {
  border-radius: 5px;
  background: var(--color-primary);

  .dashboard {
    color: white;
  }
}

.inner-body {
  padding: 17px 34px;
}

.inner-body .inner-section-one {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.inner-body .inner-user {
  display: flex;
  align-items: center;
}

.inner-body .inner-section-one .inner-name {
  font-weight: bold;
  font-size: 30px;
}

.inner-body .inner-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.inner-body .inner-user .admin {
  font-weight: bold;
}

.inner-section-two .admin-page {
  color: #AAB2D1;
}

.inner-section-two .inner-export {
  display: flex;
}

.inner-export {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.inner-export i {
  margin-right: 10px;
}

.button {
  margin: 10px 20px;
  background-color: var(--color-primary);
  font-size: 15px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  border: solid 2px var(--color-primary);
}

.button:hover {
  background-color: white;
  color: var(--color-primary);
  border: solid 2px var(--color-primary);
}



.table-wrap {
  overflow-x: scroll;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a,
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 20px;
}

.custom-table {
  min-width: 900px;
}

.custom-table thead tr,
.custom-table thead th {
  border-top: none;
  border-bottom: none !important;
}

.custom-table tbody th,
.custom-table tbody td {
  color: #777;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 300;
}

.custom-table tbody th small,
.custom-table tbody td small {
  color: #b3b3b3;
  font-weight: 300;
}

.custom-table tbody .persons {
  padding: 0;
  margin: 0;
}

.custom-table tbody .persons li {
  padding: 0;
  margin: 0 0 0 -15px;
  list-style: none;
  display: inline-block;
}

.custom-table tbody .persons li a {
  display: inline-block;
  width: 36px;
}

.custom-table tbody .persons li a img {
  border-radius: 50%;
  max-width: 100%;
}

.custom-table tbody tr th,
.custom-table tbody tr td {
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.custom-table tbody tr th:before,
.custom-table tbody tr th:after,
.custom-table tbody tr td:before,
.custom-table tbody tr td:after {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  height: 1px;
  background: #bfbfbf;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.custom-table tbody tr th:before,
.custom-table tbody tr td:before {
  top: -1px;
}

.custom-table tbody tr th:after,
.custom-table tbody tr td:after {
  bottom: -1px;
}

.custom-table tbody tr:hover th,
.custom-table tbody tr:hover td {
  background: rgba(0, 0, 0, 0.03);
}

.custom-table tbody tr:hover th:before,
.custom-table tbody tr:hover th:after,
.custom-table tbody tr:hover td:before,
.custom-table tbody tr:hover td:after {
  opacity: 1;
  visibility: visible;
}

.custom-table tbody tr.active th,
.custom-table tbody tr.active td {
  background: rgba(0, 0, 0, 0.03);
}

.custom-table tbody tr.active th:before,
.custom-table tbody tr.active th:after,
.custom-table tbody tr.active td:before,
.custom-table tbody tr.active td:after {
  opacity: 1;
  visibility: visible;
}

/* Custom Checkbox */
.control {
  display: block;
  position: relative;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 18px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 2px solid #ccc;
  background: transparent;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
  border: 2px solid #007bff;
}

.control input:checked~.control__indicator {
  border: 2px solid #007bff;
  background: #007bff;
}

.control input:disabled~.control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
  border: 2px solid #ccc;
}

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
}

.control input:checked~.control__indicator:after {
  display: block;
  color: #fff;
}

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -52%);
  -ms-transform: translate(-50%, -52%);
  transform: translate(-50%, -52%);
}

.control--checkbox input:disabled~.control__indicator:after {
  border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked~.control__indicator {
  background-color: #007bff;
  opacity: .2;
  border: 2px solid #007bff;
}