.header .inner-box {
  width: 20%;
  height: 1000px;
  ;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


body {
  font-family: var(--font-primary);
  background-color: #fff;
  font-weight: 300;
}

.header .inner-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header .inner-logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  object-fit: cover;
  position: top center;
}

.header .inner-logo .inner-name {
  color: #1B267D;
  font-weight: bold;
}

.header .inner-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.header .inner-menu i {
  margin-right: 20px;
  font-size: 20px;
  color: var(--color-primary);
  padding: 10px;
  background: #EFEEFD;
  border-radius: 5px;
}

/* .header .inner-menu i:hover{
  color: white;
  background: var(--color-primary);
} */

.header .inner-menu .dashboard {
  font-weight: bold;
  color: var(--color-primary);
}

.header .inner-menu:hover {
  border-radius: 5px;
  background: var(--color-primary);

  .dashboard {
    color: white;
  }
}

.inner-body {
  padding: 17px 34px;
}

.inner-body .inner-section-one {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.inner-body .inner-user {
  display: flex;
  align-items: center;
}

.inner-body .inner-section-one .inner-name {
  font-weight: bold;
  font-size: 30px;
}

.inner-body .inner-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.inner-body .inner-user .admin {
  font-weight: bold;
}

.inner-section-two .admin-page {
  color: #AAB2D1;
}

.inner-section-two .inner-export {
  display: flex;
}

.inner-export {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.inner-export i {
  margin-right: 10px;
}

.button {
  margin: 10px 20px;
  background-color: var(--color-primary);
  font-size: 15px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  border: solid 2px var(--color-primary);
}

.button:hover {
  background-color: white;
  color: var(--color-primary);
  border: solid 2px var(--color-primary);
}

.inner-body .inner-add:hover {
  background-color: white;
  color: var(--color-primary);
  border: solid 2px var(--color-primary);
}

@media (max-width: 576px){
  .header .inner-box{
    display: none;
  }

  .header .inner-body table{
    font-size: 10px;
  }

  .header .inner-section-one{
    margin-top: 10px;
  }
}

@media (max-width: 900px){
  .header .inner-box{
    display: none;
  }

  .header .inner-user {
    text-align: end;
  }

}



